# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# Dados brutos e bases intermediárias (não versionar)
data/raw/
data/processed/

# Arquivos auxiliares locais
data/external/CNAE-ibge.xlsx
data/external/municipios.xlsx
data/external/IPCA_mensal.xls

# Configuração local de caminhos
config/paths.py